.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  /* input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="datetime-local"],
  select,
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .datPhongBooking{
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      
  }
  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  .buttonXoa{
    background-color: red;
    
  }
  .tongTien{
    font-weight: bold;
    font-size: 20px;
  }
