/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* styles.css */
.containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  height: 870px;
}
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  max-width: 100%;
  height: 870px;
}
.logo{
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-bottom: 60px;
  margin-top: 40px;
  
}
.logo2{
  display: flex;
  justify-content: center;
  width: 250px;
  margin-bottom: 30px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
  
}
.link{
  text-decoration: none;
}



.logo1:hover {
  text-decoration: none;
  color: orange;
  
}
.logo1 {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.form-content {
  font-size: 15px;
  
  margin-bottom: 115px;
  height: 70px;
}
.title{
  margin-bottom: 15px;
}
.logout {
  margin-bottom: 20px;
}

.logout input {
  margin-left: 10px;
  width: 500px !important;
  height: 30px;
  border:rgba(0, 0, 0, 0.177);
  border-radius: 5px;
  padding-left: 0.5rem !important;
  font-size: 12px !important;
}

.check{
  margin-right: 380px;
}
.check input[type="checkbox"] {
  margin-right: 5px;
}

.check label {
  font-size: 17px;
}

button {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.footer-a {
  color: #007bff;
  text-decoration: none;
}

.footer-a:hover {
  text-decoration: none;
}

